.main {
  flex: 1;
  min-height: 100vh;
  position: relative;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  color: #585858;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: rgb(96, 158, 250);
}
.main .nav img {
  width: 40px;
  border-radius: 50px;
}
.main-container {
  max-width: 1200px;
  margin: auto;
}

.main-container .greet {
  margin: 0px 10px;
  font-size: 48px;
  color: #c4c7c5;
  font-weight: 500px;
}

.main-container .response {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
}

.result-section {
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  padding-bottom: 20px; /* Optional: add some space after each result section */
}

.main-container .result {
  width: 700px;
}

.main-container .map-comp {
  width: 500px;
  margin-top: 30px;
  overflow-y: auto;
}

.main-container .map-comp::-webkit-scrollbar {
  display: none;
}

.main .greet span {
  background: -webkit-linear-gradient(12deg, #8d9034, #62b317);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-bottom {
  position: absolute;
  bottom: 4%;
  width: 100%;
  max-width: 650px;
  padding: 0px 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
  color: black;
  width: 650px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #a7ed66 #f0f4f9; /* Firefox */
}

.result::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.result::-webkit-scrollbar-track {
  background: #f0f4f9;
  border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
  background: #a7ed66;
  border-radius: 10px;
  border: 3px solid #f0f4f9;
}

.result::-webkit-scrollbar-thumb:hover {
  background: #96d155;
}

.result::-webkit-scrollbar-corner {
  background: transparent;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.query-box {
  background-color: #f0f4f9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 8px;
  border-left: 4px solid #1e90ff; /* Adjust border color as needed */
}

.query-box p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #1e90ff; /* Adjust text color as needed */
}

.result img {
  width: 40px;
  border-radius: 50px;
}

.result-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.code-display {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  color: white;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 10;
}
.download-btn {
  margin-top: 10px;
  background-color: #98a96f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.overlay-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #b1d5ee, #c953e98a, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 4s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300px;
  line-height: 1.8;
}

.coordinate-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-top: 5px;
  overflow-y: auto;
}

.coordinate-inputs input {
  padding: 5px;
  color: black;
  margin: 4px;
  border-radius: 10px;
  width: 100px;
  flex-direction: column;
  cursor: pointer;
}

.coordinate-inputs .input-row .part {
  display: flex;
}

.input-row {
  display: flex;
  margin-left: 10px;
}

.input-row > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

label {
  display: inline-block;
  width: 50px;
  font-weight: bold;
}

input[type="number"] {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.overlay-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
}

.icon-wrapper {
  position: relative;
  margin-right: 8px; /* Example margin */
}

.hover-popup {
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-wrapper:hover .hover-popup {
  opacity: 1;
}
